body {
    margin: 0px;
    color: white;
}

a {
    color: lightblue;
    text-decoration: none;
}

h2, h3, h4 {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

h2 {
    margin-top: auto;
    font-size: 48px;
}

h3 {
    margin-top: 0px;
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

/* -------- */
/* SECTIONS */
/* -------- */

section {
    padding: 70px 24px;
}

.section-anchor {
    height: 70px;
}

/* TOP SECTION */

#top {
    height: 100vh;
    padding: 0px 24px 0px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    text-align: center;
}

#top p {
    width: 60%;
    margin-top: 0px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

@media screen and (max-width: 704px) {
    #top p {
        width: 75%;
    }
}

@media screen and (max-width: 483px) {
    #top p {
        width: 100%;
    }
}

/* SERVICES SECTION */

#services-anchor {
    margin-top: auto;
}

#services {
    padding: 70px 24px 0px 24px;
    background: rgb(205, 205, 205);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services #services-container {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#services .service-card {
    width: 150px;
    padding: 0px 16px;
}

#services img {
    height: 150px;
}

#services p {
    width: 100%;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

/* ABOUT SECTION */

#about {
    padding: 70px 24px 0px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(155, 155, 155);
}

#about #about-area {
    width: 70%;
    padding: 32px;
    background: rgba(0, 0, 0, .25);
}

#about #about-area h3 {
    margin-top: 0px;
}

#about #about-area p {
    font-size: 20px;
    line-height: 2;
    margin-bottom: 0px;
}

@media screen and (max-width: 678px) {
    #about #about-area {
        width: initial;
        padding: 16px;
    }

    #about #about-area p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 0px;
    }    
}

/* STAFF SECTION */

#staff {
    padding: 70px 24px 0px 24px;
    background: rgb(105, 105, 105);
    text-align: center;
}

#staff #staff-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#staff .staff-member {
    padding: 0px 16px;
}

#staff img {
    height: 150px;
    border-radius: 50%;
}

#staff p {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

/* MAP SECTION */

#map {
    height: 75vh;
    padding: 0px;
}

#map h3 {
    display: none;
}

/* CONTACT SECTION */

#contact {
    background: rgb(155, 155, 155);
    text-align: center;
}

#contact #addresses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#contact address {
    padding: 0px 16px;
}

#contact h4 {
    margin: 16px 0px 0px 0px;
}

#contact a {
    margin: 0px;
}

/* FOOTER */

footer {
    padding: 16px;
    background: rgb(0, 0, 0);
    text-align: center;
}