body {
    margin: 0px;
    color: white;
}

a {
    text-decoration: none;
}

h2, h3, h4 {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

section {
    min-height: 500px;
    padding: 70px 0px 0px 24px;
    display: flex;
    justify-content: center;
}

#top {
    align-items: center;
    background: rgb(255, 255, 255);
}

#services {
    background: rgb(205, 205, 205);
}

#about {
    background: rgb(155, 155, 155);
}

#staff {
    background: rgb(105, 105, 105);
}

#map {
    background: rgb(55, 55, 55);
}

#contact {
    background: rgb(155, 155, 155);
}

footer {
    overflow: auto;
    background: rgb(0, 0, 0);
    text-align: center;
}